/* Подключение Raleway локально */
@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.woff2') format('woff2'),
         url('Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Bold.woff2') format('woff2'),
         url('Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-ExtraBold.woff2') format('woff2'),
         url('Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Italic.woff2') format('woff2'),
         url('Raleway-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}